{% extends "photologue/root.html" %}
{% load i18n %}{% load url from future %}

{% block title %}{% trans "All Photos" %}{% endblock %}

{% block pl_content %}
{% if object_list %}
    {% for photo in object_list %}
    <div class="gallery-photo">
        <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
    </div>
    {% endfor %}
{% else %}
<p>{% trans "No photos were found". %}</p>
{% endif %}

{% if is_paginated %}
<div class="page_controls">
    <p>{{ hits }} {% trans "photos total." %}</p>
    <p>
    {% if has_previous %}<a href="{% url 'pl-photo-list' previous %}">{% trans "Previous" %}</a> |{% endif %}
    {% blocktrans %}page {{ page }} of {{ pages }}{% endblocktrans %}
    {% if has_next %} | <a href="{% url 'pl-photo-list' next %}">{% trans "Next" %}</a>{% endif %}
    </p>
</div>
{% endif %}

{% endblock %}
